body {
  font-family: "Source Sans Pro", "Source Sans Pro", "Source Sans Pro";
  color: black;
  font-weight: 300;
  font-style: lighter;
  font-size: 16;
  /* margin-left: 100px;
  margin-right: 100px; */
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px 20px;
  min-width: 320px; /* Set the minimum width for your layout */

}

@media (min-width: 750px) {
  body {
    padding: 0px 200px;
  }
}

/*=======Publications flex image=========*/
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;

  flex-wrap: wrap;
  /*           min-width: 320px;
           max-width: 1220px;*/
}

.flex-item {
  display: flex;
  align-items: center;
  /*        height: 120px;
        width: 300px;*/
  /*        background-color: #e46119;
        border: 1px solid #626262;*/
  /*        margin: 3px;
        padding: 10px 0 0 10px;*/
}

.flex-item img {
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-item.publication {
  display: flex;
  flex-direction: column;
}

@media (min-width: 750px) {
  .flex-item.publication {
    flex-direction: row;
  }
}

.flex-item.publication .container_image {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding-right: 0px;
}

@media (min-width: 750px) {
  .flex-item.publication .container_image {
    width: 250px;
    height: 200px;
    margin: 0px;
    padding-right:20px;
  }
}

.flex-item.publication div {
  width: 100%;
  max-width: 400px;
  margin: 25px auto 75px auto;
}

@media (min-width: 750px) {
  .flex-item.publication div {
    max-width: none;
    margin: 0px;
  }
}

span {
  padding-left: 5px;
}

/*=======Contact icons=========*/

.fa {
  padding: 5px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  /* color: #31ac84; */
  color: black;

}

/*Small icons */
.fa-file {
  padding: 2px;
  font-size: 15px;
  width: 200px;
  text-align: left;
  text-decoration: none;
  color: #31ac84;
  /*  color: black;
*/
}
.fa-download{
  padding: 2px;
  font-size: 15px;
  width: 200px;
  text-align: left;
  text-decoration: none;
  color: #31ac84;
}

.fa-file-pdf-o{
  padding: 2px;
  font-size: 15px;
  width: 120px;
  text-align: left;
  text-decoration: none;
  color: #31ac84;
}

#clickToDownload.fa-file-pdf-o{
  padding: 2px;
  font-size: 18px;
  width: 200px;
  text-align: left;
  text-decoration: none;
  color: #31ac84;
}

.fa-globe{
  padding: 2px;
  font-size: 15px;
  width: 120px;
  text-align: left;
  text-decoration: none;
  color: #31ac84;

}
.fa-play {
  padding: 5px;
  font-size: 15px;
  width: 120px;
  text-align: left;
  text-decoration: none;
  color: #31ac84;
  /*  color: black;
*/
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/*=======text=========*/
text {
  font-size: 16px
}
p {
  font-size: 16px
}
text#my_name {
  font-size: 36px;
  font-family: 'Source Sans Pro';
  padding-bottom: 10px;
  font-weight: lighter;
}
text#my_last_name {
  font-size: 40px;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  padding-bottom: 10px;
}
p {
  line-height: 25px;
  /*change line spacing */
  /*=======Menu=========*/
}

#menu-container {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  /* border-bottom: 1px solid #ccc; */
  display: flex;
  justify-content: center;
}

ul#menu {
  list-style-type: none;
  padding: 0px;
  /* margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: -webkit-sticky;
  /* Safari */
  /* position: sticky; */
  /* top: 0; */
  /* padding-left: 25px; */

  display: flex;
  justify-content: space-evenly;
  max-width: 500px;

  /*    outline-style: solid;
    outline-color:grey;
    outline-width: 0.5px;*/
}

li#menu {
  float: left;
}

a {
  text-decoration: none;
}

li#menu a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 13px;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 18px;
}

@media (min-width: 500px) {
  li#menu a {
    padding: 15px 25px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

li#menu a:hover {
  /* background-color: #111; */
  color: #31ac84;
}

li#menu a.active {
  color: #31ac84;
  font-weight: bolder;
}

/*=======Image Flex=========*/
.container {
  /* padding: 20px 40px 40px; */
  /* max-width: 640px; */
  display: flex;
}

.container_image {
  /* margin: 20px 30px 0 0; */
  width: 200px;
  object-fit: contain;
  align-self: flex-start;
}

.container_text {
  flex: 1 1 auto;
}

/*=======Separator line=========*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*============ intro ============*/
/* SMALL SCREENS */
.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all children horizontally */

}
.myNameDiv {
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Center vertically if needed */
  width: 100%; /* Ensure it takes full width on smaller screens */
  margin: 0; /* Remove default margin */
  display: flex;
}

.intro-content .right {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin:50px
}
.intro-content .left {
  width: 100%; /* Ensure it takes full width on smaller screens */
  margin-right: 0;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Center vertically if needed */
  display: flex;

}
.intro-content img {
  width: 75%; /* Make the image responsive by taking the width of its container */
  max-width: 300px; /* Limit the max width to prevent it from growing too large */
  height: auto; /* Maintain the aspect ratio */
  margin: 0 auto; /* Center the image horizontally by default */
  justify-content: center; /* Horizontally center the content */
}

.intro-content .my_name{
  text-align: center;
}
/* LARGE SCREENS */

@media (min-width: 1200px) {
  .intro-content {
    flex-direction: row;
    align-items: flex-start; /*Reset alignment for larger screens*/

  }
  .myNameDiv {
    justify-content: flex-start; /* Align to the left on large screens */
    width: auto; /* Reset width for larger screens */
    margin: 0; /* Reset margin for larger screens */

  }
  .intro-content .right {
    padding-left: 10px;
    margin-right: 150px; /* Add a 150px margin for larger screens */
    max-width: 500px; /* Enforce a maximum size */
    margin:0

  }
  .intro-content .left {
    width: 300px; /* or adjust to a smaller fixed width, e.g., 90% or 600px */
    margin-right: 10px; /* Optional: Adjust margin for smaller screens */
    justify-content: flex-start; /* Align to the start for larger screens */

  }
  .intro-content img {
    width: 300px; /* Ensure it stays within its container */
    max-width: 300px; /* Enforce a maximum size */

  }
}

