include dash_pdf_components/dash_pdf_components.min.js
include dash_pdf_components/dash_pdf_components.min.js.map
include dash_pdf_components/async-*.js
include dash_pdf_components/async-*.js.map
include dash_pdf_components/*-shared.js
include dash_pdf_components/*-shared.js.map
include dash_pdf_components/metadata.json
include dash_pdf_components/package-info.json
include README.md
include LICENSE
include package.json
